.fond-marin {
    -fx-background-color: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77);
}

.titre-naval {
    -fx-font-size: 28px;
    -fx-font-family: 'Courier New', monospace;
    -fx-font-weight: bold;
    -fx-text-fill: #00ffcc;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.texte-naval {
    -fx-font-size: 16px;
    -fx-font-family: 'Arial';
    -fx-text-fill: white;
}

.button {
    -fx-background-color: linear-gradient(#415a77, #1b263b);
    -fx-background-radius: 5;
    -fx-border-color: #778da9;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(#778da9, #415a77);
    -fx-border-color: #00ffcc;
    -fx-text-fill: #00ffcc;
}

.button:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default;
}
.menu-fond {
    -fx-background-image: url('image/wow_ocean.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.menu-fond-sot{
    -fx-background-image: url('image/ocean_sot.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}